@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    position: relative;
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    position: relative;
    
    height: 50px;
    width: 100%;
}
.navItens{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position:relative;
    float: left;
}

.carrinho {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; }

button {
    display: flex; /* Para alinhar o ícone dentro do botão */
    align-items: center; /* Centraliza verticalmente o ícone */
    border: none; /* Remove borda padrão */
    background-color: #f0f0f0; /* Cor de fundo opcional */
    padding: 10px; /* Ajusta o tamanho do botão */
    cursor: pointer; /* Adiciona um ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

.material-symbols-outlined {
    font-size: 24px; /* Ajusta o tamanho do ícone */
}