@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{background-color: rgb(186, 183, 183);
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.navBar{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    
}
.navItens{
    display: flex;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
#carrinho{
    display: flex;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}



.principais{
    text-align: center;

}
.principais > img{
    border: 2px solid black;
    border-radius: 10px 10px;
    box-shadow: 10px 10px solid white;
}
.principais > div{
     position: absolute; top: 40%; left: 85%; transform: translate(-75%, -75%);
}

dialog{
    float: left;
    width: 300px;
    text-align: center;
}

div > h1{
    text-align: center;
    font-size: 1.5em;
}

.modelos{
    display: flex;
    width: 99%;
    flex-direction:  row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    
   
}
.modelos > div{
    margin: 5px;
    border: 1px solid black;
}

img{
    height: 300px;
    width: 300px;
    
}

form{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
